.card{
    background: #FFFFFF;
    border: 1px solid #EAEBEB;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(10, 17, 105, 0.08);
    border-radius: 12px;
    display: inline-block;
    margin: 15px;
    min-width: 400px;
}

.card-body {
    min-height: 1px;
    margin: 0 10px;
    padding: 1.25rem;
}

/* buttons */

.btn {
    border-radius: 12px;
    padding: 11px 24px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-secondary{
    background: #F4F5FE;
    border-color: #F4F5FE;
    color: #2939EC;
}

.btn-secondary:hover{
    background-color: #cecece;
    border-color: #cecece;
}